.navbar {
  background-color: #151c25;
  color: #cddceb;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #111827;
  flex-wrap: wrap;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.user-info2 {
  margin: 0;
  font-size: 1rem;
  color: #d1d5db;
}

.user-info2 strong {
  color: #fff;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .navbar-title,
  .user-info2 {
    width: 100%;
  }
}
